body {}

.card-header {
    font-size: 20px;
}

.temp-row {
    font-size: 50px;
}

.jumbotron {
    background-color: #388A8E;
    text-align: center;
}

.display-4 {
    font-size: 30px;
}

input::-webkit-input-placeholder {
    color: white !important;
}

input:-moz-placeholder {
    /* Firefox 18- */
    color: white !important;
}

input::-moz-placeholder {
    /* Firefox 19+ */
    color: white !important;
}

input:-ms-input-placeholder {
    color: white !important;
}

.fa-search {
    color: white;
}

#fa-search-box {
    margin-top: 40px;
    border: white 1px solid;
    height: 38px;
    width: auto;
}

h1 {
    text-align: center;
    color: white;
}

.card-header {
    background: #388A8E;
    color: white;
}

.container-full-bg {
    background: #388A8E;
    height: 100vh;
}

h2 {
    color: white;
}

form {
    width: 40%;
    margin-right: 30%;
    margin-left: 30%;
}

.col {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

.col-6 {
    padding: 20px;
    text-align: center;
}

#plants {
    margin-top: 40px;
    border: white solid 1px;
    background: #388A8E;
    color: white;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    _width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    color: white;
    background-color: #388A8E;
    border-color: white;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-autocomplete .ui-menu-item>a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
}

.ui-autocomplete .ui-menu-item>a.ui-corner-all.ui-state-hover,
.ui-autocomplete .ui-menu-item>a.ui-corner-all.ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

#container {
    background: white;
}

.g-signin2 {
    margin-right: 30%;
    margin-left: 45%;
}

.fade {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.display-4 {
    opacity: 0;
    animation-name: fadeInOpacity;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#btn {
    opacity: 0;
    animation-name: fadeInOpacity;
    animation-delay: 4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.input-group {
    opacity: 0;
    animation-name: fadeInOpacity;
    animation-delay: 4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}